@import "tailwindcss";

/* Dark theme variables */
:root {
  --bg-color: #D9D9D9;                
  --text-color: #000000;           
  --muted-color: #94a3b8;          
  --theme-accent: #344955;         
  --theme-accent-dark: #9c9c9c;    
  --badge-released-bg: #22d3ee;    
  --badge-released-text: #0f172a;  
  --badge-preorder-bg: #f59e42;    
  --badge-preorder-text: #18181b;  
  --card-bg: #ffffff;

}

@layer base {
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}

@layer utilities {
  .bg-theme {
    background-color: var(--bg-color);
  }
  .bg-card-bg {
    background-color: var(--card-bg);
  }
  .text-theme {
    color: var(--text-color);
  }
  .text-muted {
    color: var(--muted-color);
  }
  .badge-released {
    background-color: var(--badge-released-bg);
    color: var(--badge-released-text);
  }
  .badge-preorder {
    background-color: var(--badge-preorder-bg);
    color: var(--badge-preorder-text);
  }
  .border-theme-accent {
    border-color: var(--theme-accent);
  }
  .bg-theme-accent {
    background-color: var(--theme-accent);
  }
  .hover\:bg-theme-accent-dark:hover {
    background-color: var(--theme-accent-dark);
  }
  .text-theme-accent {
    color: var(--theme-accent);
  }
}